body{
    background-color: rgb(213, 221, 221);
    color: black;
    border: 1px solid #0c0b0b;
    padding: 7px;
}
#test{
    font-size: 70px;
    text-align: center;
    opacity: .5;
    color: #800000;
    font-size: 27px;
}